@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  html, body {
  overflow-y: scroll;
  scrollbar-width: none;
 -ms-overflow-style: none;
  }

  html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
  }
}